@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');


:root {
   --primary-color: #D5FFC0;
   --secondary-color: #111111;
   --third-color: #555555;
   --forth-color: #888888;
}

.dark-mode-theme {
   --primary-color: #111111;
   --secondary-color: #D5FFC0;
   --third-color: #555555;

}

body {
  background-color: var(--primary-color);
  font-family: 'Abril Fatface', 'Poppins';
  transition-duration: 1s;
}

.pomodoro-timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.timer-controls button {
  margin: 0 10px;
  font-size: 20px;
}

.time-left {
  font-size: 50px;
  font-weight: normal;
  color: var(--primary-color);
}

.time-left:hover {
  cursor: pointer;
}

.time-left {
  color: var(--primary-color);
  transition-duration: 1s;
}

#external-ball {
  width: 400px;
  height: 400px;
  border: solid 1px var(--secondary-color);
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#inner-ball {
  width: 380px;
  height: 380px;
  background-color: var(--secondary-color);
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 1s linear;
}

#heading {
  margin: 30px auto;
  width: 800px;
  display: flex;
}

ul {
  list-style: none;
}

ul li {
  display: inline-block;
  margin-left: 40px;
  color: var(--secondary-color);
  cursor: pointer;
  transition-duration: 0.5s;
}

ul li label {
  cursor: pointer;
}

ul li:hover {
  text-decoration: underline;
}

#heading-items {
  margin-left: 130px;
}

#toggle-btn {
  display: none;
}

hr {
  border-color: var(--secondary-color);
  margin: none;

}

#reset-button {
  display: none;
}


.buttons-container {
  display: none;
}

.overlay, .overlay0 {
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: var(--primary-color);
  overflow-x: hidden;
  transition: 1s;
  height: 0;
  text-align: center;
}

.setting-time {
  width: 100%;
  text-align: center;
}

.closebtn {
   color: var(--secondary-color);
   font-size: 150px;
   text-decoration: none;
   display: inline-block;
   position: absolute;
   top: 20%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: flex;
   justify-content: center;
   align-items: center;
}

.time-input-container label, .time-input-container input, .time-input-container button {
  display: block;
  margin: auto;
}

.time-input-container {
  width: 40%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#change-time-button {
display: none;
}

#time-input {
  font-size: 80px;
  width: 200px;
  height: 200px;
  padding: 0;
  font-family: 'Abril Fatface';
  background-color: var(--primary-color);
  border: solid var(--secondary-color) 1px;
  text-align: center;
  border-radius: 100%;
  color: var(--secondary-color);
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#change {
  display: none;
}

#todo, #options {
   display: none; 
}

#font-button {
display: none;
}





@media (max-width: 800px) {
  #heading-items {
    display: none;
  }
}


/*
to do

*/

/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

#todo-div {
  width: 500px;
  position: absolute;
top: 50%;
left: 80%;
transform: translate(-50%, -50%);

}

/* Remove margins and padding from the list */
#myUL {
  margin: 0;
  padding: 0;
}

/* Style the list items */
#myUL li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  font-size: 18px;
  transition: 0.2s;
  list-style-type: none;
  display: block;
  color: var(--third-color);
}

#myUL li::before {
  content: '';
  position: absolute;
  border-color: var(--third-color);
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Set all odd list items to a different color (zebra-stripes) */
#myUL li:nth-child(odd) {
}

/* Darker background-color on hover */
#myUL li:hover {

}

/* When clicked on, add a background color and strike out text */
#myUL li.checked {
  text-decoration: line-through;
  transition-duration: 2s;
}

/* Add a "checked" mark when clicked on */
#myUL li.checked::before {
  content: '';
  position: absolute;
  border-color: var(--secondary-color);
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 16px 16px 12px 16px;
  color: var(--third-color);
  display: none;
}


/* Style the header */
.header {
  padding: 30px 40px;
  color: white;
  text-align: center;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
#todo-input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 100%;
  padding: 10px;
  float: left;
  font-size: 16px;
  background: var(--primary-color);
  transition-duration: 1s;
  color: var(--secondary-color);
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  color: #555;
  float: left;
  text-align: left;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
  text-decoration: underline;
  font-family: 'Poppins';
  color: var(--third-color);
}

@media (max-width: 1500px) {
  #todo-div {
    display: none;

  }
}

